@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: rgb(0, 0, 0);
}

body {
    font-family: Raleway, Cabin, sans-serif;
    font-weight: 500;
    background-color: #fff;
}

/* navbar */

header {
    background-color: #2ed1c5;
    width: 100%;
}

header > div > div{
    float: left;
    border-radius: 24px;
    border: 2px solid transparent;
    transition: border 0.5s;
    margin-top: 12px;
}

header > div > div:hover {
    border: 2px solid #fff;
}


#logo {
    font-size: 240%;
    margin: 0 15px 8px 15px;
    height: 40px;
    font-weight: 700;
    color: #fff;
}

header> div > div > a {
    text-decoration: none;
}

#menu {
    line-height: 75px;
}

#menu {
    font-size: 90%;
    letter-spacing: 4px;
    text-align: right;
}

#menu li {
    display: inline;
    
}

#menu a {
    text-decoration: none;
    margin: 0 3px;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    font-weight: 500;
}

#menu a:hover {
    border-bottom: 2px solid #fff;
}


/* Hero Image */

#hero-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 55vh;
}

#hero-image {
    background: url(../images/art-rachen-sM4r-swmcoY-unsplash.jpg) no-repeat center center;
    width: 100%;
    height: 55vh;

    /* animates zoom effect on the loading page */
     animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.navbar {
    position: sticky;
    top: 0;
}


/* Welcome message */
 #welcome-message-outer {
    display: flex;
    justify-content: center;
}

#welcome-message {
    background-color: #58DAD1;
    width: 400px;
    height: 100px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 0.5px 2px 0.5px #58dad1ab;
    color: #fff;
} 

#welcome-message hr {
    border-top: 3px solid #fff;
}

#welcome-message h1, #welcome-message p {
    color: inherit;
}

#welcome-message p {
    padding-top: 5px;
    font-weight: 400;
}