@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: rgb(0, 0, 0);
}

body {
    font-family: Raleway, Cabin, sans-serif;
    font-weight: 500;
    background-color: #fff;
}

/* navbar */
header {
    background-color: #2ed1c5;
    width: 100%;
    z-index: 3;
}

header>div>div {
    float: left;
    border-radius: 24px;
    border: 2px solid transparent;
    transition: border 0.5s;
    margin-top: 12px;
    margin-left: 5px;
}

header>div>div:hover {
    border: 2px solid #fff;
}

.active {
    border-bottom: 2px solid #fff;
}

#logo {
    font-size: 240%;
    margin: 0 15px 8px 15px;
    height: 40px;
    font-weight: 700;
    color: #fff;
}

header>div>div>a {
    text-decoration: none;
}

#menu {
    line-height: 75px;
    font-size: 90%;
    letter-spacing: 2px;
    text-align: right;
    margin-right: 5px;
}

#menu li {
    display: inline;

}

#menu a {
    text-decoration: none;
    margin: 0 3px;
    color: #fff;
    transition: border-bottom 0.5s;
    font-weight: 600;
}

header a {
    border-bottom: 2px solid transparent;
}

#menu a:hover {
    border-bottom: 2px solid #fff;
}

/* Hero Image */
#hero-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 55vh;
}

#hero-image {
    background: url(../images/art-rachen-sM4r-swmcoY-unsplash.jpg) no-repeat center center;
    width: 100%;
    height: 55vh;

    /* animates zoom effect on the loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.navbar {
    position: sticky;
    top: 0;
}

/* Welcome message */
.section-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
}

.welcome-message {
    margin-top: 20px;
    height: 80px;
    width: 75%;
    max-width: 900px;
    line-height: 80px;
    font-size: 200%;
    border-radius: 38px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    background-color: #2dd1c5;
    border: 3px solid #fff;
    align-self: center;

}

.welcome-message h1,
.welcome-message p {
    color: inherit;
}

.welcome-message p {
    padding-top: 5px;
    font-weight: 400;
}

/* rows */
.row-background {
    width: 100%;
    background-color: rgba(88, 218, 209, 0.25);

}

.row-holder {
    width: 900px;
    height: 540px;
    margin: 0 auto;
    background-color: rgba(218, 123, 88, 0.25);
}

.row {
    height: 260px;
    text-align: left;
    align-self: flex-start;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 120%;
}

.row-text {
    width: 550px;
    height: 175px;
    background-color: #2dd1c5;
    border-radius: 60px;
    margin-bottom: 15px;
    font-size: 120%;
    font-weight: 600;
    color: inherit;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    border: 4px solid #fff;
}

.row-text p,
.row-text i {
    color: #fff;
}

/* #row-1-text,
#row-3-text,
#row-5-text */
.row-upper {
    margin: 15px 0 0 0;
    float: left;
}

/* #row-2-text,
#row-4-text,
#row-6-text  */
.row-lower {
    margin: 45px 0 0 0;
    float: right;
}

/* image wrappers */
.image-wrapper-upper{
    margin: 15px 0 0 0;
    float: right;
    clear: right;
}

.image-wrapper-lower {
    margin: 15px 0 0 0;
    float: left;
    clear: right;
}

.image-wrapper {
    height: 250px;
    width: 250px;
    border-radius: 26%;
    border: 4px solid #fff;
    display: grid;
    place-items: center;
    grid-template-areas: "main";
    overflow: hidden;
    cursor: pointer;
}

.image-wrapper>* {
    grid-area: main;
    z-index: 1;
}

.image-wrapper:is(:hover, :focus)>.image {
    transform: scale(1.1);
    filter: brightness(0.4);
}

.image-wrapper:is(:hover, :focus)>.image-text {
    transform: scale(1.2);
    opacity: 1;
}

/* images */
.image {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    transition: transform 400ms, filter 400ms;
}

/* image text */
.image-text {
    opacity: 0;
    color: #fff;
    font-size: 1.1rem;
    width: 70%;
    text-align: center;
    transition: opacity 400ms, transform 400ms;
}

/* Footer */
.social-networks {
    text-align: center;
    background-color: #58dad1;
    border-top: 20px solid #fff;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}

/* Mobile - 950px and below */
@media screen and (max-width: 950px) {
    .row-background,
    .row-holder {
        height: 740px;
    }

    .row-holder {
        width: 600px;
    }

    .row-text {
        float: none;
        clear: both;
        margin: 0 auto;
    }

    .image-wrapper-upper {
        float: left;
        margin-left: 30px;
    }

    .image-wrapper-lower {
        float: right;
        margin-right: 30px;
    }

    .image-wrapper-upper,
    .image-wrapper-lower {
        margin-bottom: 15px;
    }
}