@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: #fff;
}

body {
    font-family: Lato sans-serif;
    font-weight: 500;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
a,
label,
dt {
    font-family: 'Roboto Slab', serif;
}

/* navbar */
header {
    background: rgb(3, 110, 122);
    background: linear-gradient(90deg, rgba(3, 110, 122, 1) 29%, rgba(32, 217, 190, 1) 94%);

    width: 100%;
    z-index: 2;
}

#menu .active {
    border-bottom: 3px solid #fff;
}

#logo {
    font-size: 120%;
    height: 40px;
    font-weight: 700;
    padding: 2px 5px 15px 5px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: border 0.5s;
    margin: 5px 15px;
    z-index: 2;
}

#logo:hover {
    border: 2px solid #fff;
}

#logo a {
    display: block;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    margin: 0 3px;
    color: #fff;
    transition: border-bottom 0.5s ease;
    border-bottom: 3px solid transparent;
    font-weight: 600;
    font-size: 120%;
    margin: 0 10px;
}

#menu a:hover {
    border-bottom: 3px solid #fff;
}

.hamburger {
    position: relative;
    height: 4px;
    width: 30px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger::before {
    top: -10px;
    width: 20px;
}

.hamburger::after {
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
    display: none;
}

.for-access {
    opacity: 0;
}

.navbar input:checked~.hamburger {
    background: transparent;
}

.navbar input:checked~.hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navbar input:checked~.hamburger::after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navbar input:checked~#menu {
    right: 0;
}

/* Hero Image */
#hero-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 55vh;
}

#cover-text {
    font-size: 130%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    width: 400px;
    height: 40px;
    padding: 40px;
    background-color: rgba(3, 110, 122, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#hero-image {
    background: url(../images/man-holding-bitcoin.jpg) no-repeat center center;
    width: 100%;
    height: 55vh;

    /* animates zoom effect on the loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.header {
    position: sticky;
    top: 0;
    background: rgb(3, 110, 122);
    background: linear-gradient(90deg, rgba(3, 110, 122, 1) 29%, rgba(32, 217, 190, 1) 94%);
    border-bottom: solid 3px #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

/* Welcome message */
.section-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff;

}

.section-title {
    margin-top: 20px;
    height: 80px;
    width: 75%;
    max-width: 900px;
    line-height: 80px;
    font-size: 200%;
    border-radius: 38px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    background: rgb(3, 110, 122);
    background: linear-gradient(90deg, rgba(3, 110, 122, 1) 29%, rgba(32, 217, 190, 1) 94%);
    border: 3px solid #fff;
    align-self: center;

}

.section-title h1,
.section-title p {
    color: inherit;
}

.section-title p {
    padding-top: 5px;
}

/* rows */
.row-background {
    width: 100%;
    background: rgba(3, 110, 122, 0.3);
    background: linear-gradient(90deg, rgba(3, 110, 122, 0.6) 22%, rgba(32, 217, 176, 0.6) 84%);
}

.row-holder {
    width: 70vw;
    margin: 0 auto;
}


#row-holder-1-home,
#row-holder-2-home,
#row-holder-3-home {
    width: 900px;
}

.row {
    height: 260px;
    text-align: left;
    align-self: flex-start;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 120%;
}

.row-text {
    width: 550px;
    height: 175px;
    background: rgb(3, 110, 122);
    border-radius: 45px;
    font-size: 150%;
    line-height: 32px;
    color: inherit;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    border: 4px solid #fff;
}

p,
i {
    color: #fff;
}

.row-upper {
    margin: 15px 0 7.5px 0;
    float: left;
}

.row-lower {
    margin: 7.5px 0 15px 0;
    float: right;
}

.row-center {
    margin: 15px auto;
    width: 60vw;
    background-color: #036e7a;
    border-radius: 45px;
    font-size: 140%;
    color: inherit;
    line-height: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 15px;
    border: 5px solid #fff;
}

.row-center h3 {
    font-size: 120%;
}

.row-center ul {
    padding: 15px;
}

.row-center p {
    text-align: center;
    margin-bottom: 10px;
}

.row-center p,
.row-center li {
    padding: 10px 0px;
}


.row-center ul i {
    margin-top: 10px;
    color: #fff;
}

.row-center hr {
    width: 350px;
    border-bottom: solid 3px #fff;
}

.row-center a {
    margin-bottom: 20px;
}

#video-links .row-center h3 {
    text-align: center;
}

/* Contact us section */

#row-background-contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.row-holder-left {
    width: 40vw;
}

.row-left {
    margin: 15px auto;
    width: 30vw;
    min-width: 300px;
    background-color: #036e7a;
    border-radius: 45px;
    font-size: 140%;
    color: inherit;
    line-height: 32px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 15px;
    border: 5px solid #fff;
}

.form {
    margin-top: 20px;
}

.animated-input {
    position: relative;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: black;
    background-color: #fff;
    outline: 2px solid #fff;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, -18px) scale(0.8);
    padding-inline: 5px;
    background-color: #036e7a;
}

.input:is(:focus, :valid) {
    outline-color: #fff;
}

#offers {
    height: 20px;
    width: 20px;
    margin: 0px 0 0px 15px;
}

#offers-container {
    margin-bottom: 10px;
}

#sign-up {
    width: 160px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 110%;
    font-family: Lato sans-serif;
    background-color: #036e7a;
    border: 3px solid #fff;
    cursor: pointer;
}

#sign-up:hover {
    background-color: #24b49f;
    color: #fff;
}

.discord-sign-up-container {
    /* background-color: red; */
    display: flex;
    width: 300px;
    height: 475px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.press-me {
    width: 120px;
    height: 50px;
    margin-bottom: 35px;
    background-color: #036e7a;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    border: 3px solid #fff;
}

.press-me i {
    margin-top: 10px;
    font-size: 200%;
    animation: bob 1s infinite ease-in-out;
}

.press-me p {
    font-size: x-large;
    font-family: 'Roboto-slab', serif;
    font-weight: bold;
}

@keyframes bob {
    0% {
        margin-top: 10px;
    }

    50% {
        margin-top: 2px;
    }

    100% {
        margin-top: 10px;
    }
}

.discord-icon-container {
    height: 200px;
    width: 360px;
    border-radius: 50px;
    border: 10px solid #fff;
    background-color: #036e7a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 40px 0;
    /* text-align: center; */
    line-height: 200px;
}

.discord-icon-container a {
    color: #fff;
    font-size: 120%;
}

.discord-icon-container i {
    color: #fff;
    font-size: 500%;
    margin-left: 20px;
}

.discord-icon-container {
    transition: background-color 400ms, transform 400ms;
}

.discord-icon-container:is(:hover) {
    background-color: #24b49f;
    transform: scale(1.2);
}

.dropdown-container {
    display: flex;
    width: 100%;
    margin: 0 auto 10px auto;
    background-color: #036e7a;
    min-height: 100px;
}

.dropdown-bar,
.dropdown-bar__definition {
    min-height: 80px;
    width: 90vw;
    background-color: #036e7a;
    margin: 20px auto;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 15px;
    position: relative;
}

.dropdown {
    height: 60px;
    width: 60px;
    background-color: #036e7a;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.toggle-dropdown {
    position: absolute;
    right: 10px;
    top: 20px;
    height: 60px;
    width: 60px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.toggle-dropdown:checked+.dropdown {
    transform: rotate(180deg);

}

.dropdown-span {
    height: 40px;
    width: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin: 6px;
}

.dropdown-body {
    /* height: 0px; */
    width: 100%;
    background-color: #036e7a;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;

}

.dropdown-body p {
    margin: 90px 20px 20px 20px;
    text-align: justify;
}

.dropdown-body p,
.definition p {
    margin: 65px 20px 20px 20px;
}

.dropdown-body>dl {
    margin: 65px 20px 20px 20px;
}

.dropdown-body dt {
    font-weight: 600;
}

.dropdown-body dd {
    padding: 10px 0;
}

.dropdown-bar h4 {
    position: absolute;
    top: 38px;
}

.dropdown-bar__definition h4 {
    position: absolute;
    top: 38px;
}

.toggle-dropdown:checked~.dropdown-body {
    max-height: 5000px;
    transition: max-height 0.2s ease-in;
}

.next-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-page__container {
    background: linear-gradient(90deg, rgba(3, 110, 122, 1) 29%, rgba(32, 217, 190, 1) 94%);
    height: 80px;
    width: 200px;
    border-radius: 20px;
    margin: 10px 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 400ms;
}

.next-page__container:hover {
    transform: scale(1.1);
}

.next-page__link {
    margin: 0 auto;
    height: 90px;
    width: 140px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.next-page__link a {
    text-decoration: none;
    font-size: 120%;
}


/* animated arrow */
.downwards-arrow-holder {
    clear: both;
    margin: 0 auto;
    height: 90px;
    width: 55px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.sideways-arrow-holder {
    margin: 0 auto;
    height: 90px;
    width: 55px;
    justify-content: center;
    /* align-items: flex-start; */
    align-items: center;
    display: flex;
    flex-direction: column;
    /* animation-name: sideways-arrow; */
}

.down-wards-arrow__span {
    width: 10px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    margin: 6px;
    animation: move 1.3s infinite ease-in-out;
}

.sideways-arrow__span {
    width: 10px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    margin: -9px;
    animation: sideways-arrow 1.3s infinite ease-in-out;
}

/* positions the spans at different angles to creat the arrow shape */
span:nth-of-type(1) {
    transform: rotate(-45deg);
}

span:nth-of-type(2) {
    transform: rotate(45deg);
}

/* Animates the downwards arrow for the video links section on the guides page */
@keyframes move {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 35px;
    }

    100% {
        margin-top: 0;
    }
}

/* @keyframes sideways-arrow {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 35px;
    }

    100% {
        margin-left: 0;
    }
} */

.video-carousel {
    margin: 0px auto 15px auto;
    width: 560px;
    text-align: center;
    overflow: hidden;
}

.video-list {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    scrollbar-color: linear-gradient(90deg, rgba(3, 110, 122, 1) 29%, rgba(32, 217, 190, 1) 94%);

    /* -webkit-overflow-scrolling: touch; */
}

.video-list::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}



.video-list::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(3, 110, 122, 1) 29%, rgba(32, 217, 190, 1) 94%);
    border: 3px solid #fff;
    border-radius: 15px;
}


.video-list::-webkit-scrollbar-track {
    background: transparent;
}

.video {
    width: 560px;
    height: 315px;
    margin-bottom: 5px;


    scroll-snap-align: start;
    flex-shrink: 0;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Video selector */

.video-selector {
    background-color: #036e7a;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.video-option {
    display: inline-flex;
    width: 35px;
    height: 35px;
    color: #20d9be;
    background: #036e7a;
    border: 3px solid #20d9be;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 15px;
    top: 0;
    position: relative;
    transition: background-color 0.4s, top ease 0.4s;

}

.video-option:is(:hover, :focus, :active) {
    background: #eee;
    top: -5px;
}

/* image wrappers */
.image-wrapper-upper {
    margin: 15px 0 7.5px 0;
    float: right;
    clear: right;
}

.image-wrapper-lower {
    margin: 7.5px 0 15px 0;
    float: left;
}

.image-wrapper {
    height: 285px;
    width: 285px;
    border-radius: 25%;
    border: 5px solid #fff;
    display: grid;
    place-items: center;
    grid-template-areas: "main";
    overflow: hidden;
    cursor: pointer;
}

.image-wrapper>* {
    grid-area: main;
    z-index: 1;
}

.image-wrapper:is(:hover, :focus)>.image {
    transform: scale(1.1);
    filter: brightness(0.4);
}

.image-wrapper:is(:hover, :focus)>.image-text {
    transform: scale(1.2);
    opacity: 1;
}

/* images */
.image {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    transition: transform 400ms, filter 400ms;
}

/* image text */
.image-text {
    opacity: 0;
    color: #fff;
    font-size: 1.1rem;
    width: 70%;
    text-align: center;
    transition: opacity 400ms, transform 400ms;
}

/* Pros and Cons */
.pros-and-cons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.pros {
    background-color: #036e7a;
    margin-right: 5px;
    flex-shrink: 1;
}

.cons {
    background-color: #036e7a;
    margin-left: 5px;
}

.pros,
.cons {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 265px;
    height: fit-content;
    text-align: center;
    border-radius: 15px;
    border: 3px solid #fff;
    padding: 5px 30px;
}

:is(.pros, .cons) li {
    text-align: start;
    padding: 5px 0;
    font-size: 120%;
}

.pros-and-cons-container hr {
    border-bottom: 2px solid #fff;
    width: 150px;
    margin: 0 auto 10px;
}


/* Footer */
.social-networks {
    text-align: center;
    background: rgb(3, 110, 122);
    background: rgb(3, 110, 122);
    background: linear-gradient(90deg, rgba(3, 110, 122, 1) 29%, rgba(32, 217, 190, 1) 94%);
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}

/* Mobile - 950px and below */
@media screen and (max-width: 950px) {
    #hero-image {
        background: url(../images/man-holding-bitcoin.webp) no-repeat center center;
    }

    .section-title {
        font-size: 160%;
    }

    #row-holder-1-home,
    #row-holder-2-home,
    #row-holder-3-home {
        width: 600px;
    }

    .row-text {
        float: none;
        clear: both;
    }

    .image-wrapper-upper {
        float: left;
        margin: 7.5px 0 7.5px 0px;
    }

    .image-wrapper-lower {
        float: right;
        margin: 7.5px 0px 0 7.5px;
    }

    .image-wrapper-upper,
    .image-wrapper-lower {
        margin-top: 0px;
    }

    .hamburger,
    .toggle-menu {
        display: block;
    }

    .toggle-menu,
    .hamburger {
        margin-right: 10px;
    }

    #menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 50px;
        right: -50%;
        width: 50%;
        margin-top: 24px;

        background: rgb(3, 110, 122);
        background: linear-gradient(90deg, rgba(3, 110, 122, 1) 29%, rgba(32, 217, 190, 1) 94%);
    }

    #menu li {
        padding: 25px 0;
        width: 100%;
        border-bottom: solid 3px #fff;
        border-left: solid 3px #fff;
    }

    .image-wrapper:is(:hover, :focus)>.image {
        transform: none;
        filter: none;
    }

    .image-wrapper:is(:hover, :focus)>.image-text {
        transform: none;
    }

    .image {
        transition: none;
    }

    .image-text {
        background-color: rgba(3, 110, 122, 0.5);
        transition: none;
        opacity: 1;
        border-radius: 15px;
        border: solid 2px #fff;
        padding: 5px;
    }

    .image-wrapper-upper .image-text {
        margin: 0px 0px 0 0;
    }

    .row-holder-left {
        margin: 0 auto;
        float: none;
    }
}

@media screen and (max-width: 768px) {

    #menu {
        width: 50%;
        right: -50%;
    }

    #cover-text {
        font-size: 110%;
    }

    .section-title {
        margin-top: 20px;
        height: 60px;
        width: 75%;
        max-width: 900px;
        min-width: 340px;
        line-height: 60px;
        font-size: 100%;
        border-radius: 38px;
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
        background-color: #036e7a;
        border: 3px solid #fff;
        align-self: center;
    }

    #row-holder-1-home,
    #row-holder-2-home,
    #row-holder-3-home {
        width: 340px;
    }

    .row-text {
        width: 300px;
        height: 90px;
        border-radius: 40px;
        font-size: 100%;
    }

    #row-5-text-homepage {
        height: 150px;
    }

    .row-center {
        font-size: 100%;
    }

    .row-center hr {
        width: 250px;
    }

    .row-holder-left {
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    .row-left {
        width: 80%;
        clear: both;
    }

    .dropdown-bar h4 {
        width: 170px;
        font-size: 90%;
    }

    .dropdown-bar__definition h4 {
        width: 170px;
        font-size: 100%;
    }

    .image-text {

        font-size: 0.9rem;
    }

    .image-wrapper {
        height: 155px;
        width: 155px;
    }

    .video-carousel {
        width: 336px;
    }

    .video {
        width: 336px;
        height: 189px;
    }

    #sign-up {
        margin-left: 70px;
    }
}